<form nz-form [formGroup]="_form" [nzLayout]="'horizontal'">
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>分类/文件夹</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="8">
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>文档标题</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="20">
      <input nz-input formControlName="name" required maxlength="50">
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>关键词</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="20">
      <input nz-input formControlName="keyword">
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>内容格式</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="20">
      <nz-select formControlName="format" >
          <nz-option 
              *ngFor="let item of _formats" 
              [nzLabel]="item.label"
              [nzValue]="item.value"
              [nzDisabled]="item.disabled">
          </nz-option>
      </nz-select>
      
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>内容</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="20">
      <div class="mb-2 text-right">
        <button type="button" class="btn btn-sm btn-secondary" (click)="isPreview = !isPreview">{{isPreview ? '编辑' : '预览'}}</button>
      </div>
      <div [hidden]="isPreview">
        <textarea nz-input formControlName="originalContent" (ngModelChange)="parseContent($event)" rows="12"></textarea>
      </div>
      <div class="form-control content-section document" [hidden]="!isPreview">
        <div [innerHTML]="target"></div>
      </div>
    </div>
  </div>

  <div nz-form-item nz-row class="mt-3">
    <div nz-col [nzSpan]="20" [nzOffset]="4">
      <button type="button" class="btn btn-primary" (click)="_save($event)">保存</button>
      <button type="button" class="btn btn-light" (click)="_cancel($event)">取消</button>
    </div>
  </div>

</form>
