<div class="page-header clearfix mb-3">
  <h5 class="d-inline-block my-2">产品发布</h5>
  <div class="actions pull-right">
    <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 添加发布</button>
  </div>
</div>
<div class="page-body">
  <!-- time line view -->
  <table class="table">
    <thead>
      <tr>
        <th>版本</th>
        <th>描述</th>
        <th>日期</th>
        <th>提交/标签</th>
        <th>下载</th>
        <th>测试</th>
        <th class="text-right">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let if of arrs">
        <td><a href="javascript:;"><span class="font-weight-bold">V5.0.0-alpha.3</span></a></td>
        <td>完善文档发布流程</td>
        <td>2017年6月20日</td>
        <td><a href="javascript:;"><i class="fa fa-tag"></i> 980d8ea</a></td>
        <td><a href="javascript:;">pms-5.0.0-alpha.3.zip</a> <br> <a href="javascript:;">pms-5.0.0-alpha.3.tar.gz</a></td>
        <td><button class="btn btn-sm btn-outline-primary">部署&测试</button></td>
        <td class="text-right">
          <a href="javascript:;" class="text-primary">编辑</a> | 
          <a href="javascript:;" class="text-warning">归档</a> | 
          <a href="javascript:;" class="text-danger">删除</a></td>
      </tr>
    </tbody>
  </table>
</div>
