<div class="page-header"></div>

<div class="page-body">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-block">
          <h1 class="display-4 text-danger">34</h1>
          紧急待处理事项
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-block">
          <h1 class="display-4 text-warning">134</h1>
          未完成
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-block">
          <h1 class="display-4 text-primary">3</h1>
          进行中
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-block">
          <h1 class="display-4 text-success">344</h1>
          已完成
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-8">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title"><a href="javascript:;">指派给我的任务</a> <small>(53)</small></h5>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>项目</th>
                <th>跟踪</th>
                <th>主题</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12233</td>
                <td><a href="javascript:;">学习系统服务端</a></td>
                <td>设计</td>
                <td><a href="javascript:;">课件存储结构数据关系设计</a>(进行中)</td>
              </tr>
              <tr>
                <td>12233</td>
                <td><a href="javascript:;">学习系统服务端</a></td>
                <td>开发</td>
                <td><a href="javascript:;">课件存储结构数据关系设计</a>(未开始)</td>
              </tr>
              <tr>
                <td>12233</td>
                <td><a href="javascript:;">学习系统服务端</a></td>
                <td>需求</td>
                <td><a href="javascript:;">课件存储结构数据关系设计</a>(已计划)</td>
              </tr>
              <tr>
                <td>12233</td>
                <td><a href="javascript:;">学习系统服务端</a></td>
                <td>问题</td>
                <td><a href="javascript:;">课件存储结构数据关系设计</a>(待确认)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title"><a href="javascript:;">我负责的产品</a> <small>(2)</small></h5>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-block">
          <h5 class="card-title"><a href="javascript:;">我参与的项目</a> <small>(4)</small></h5>
        </div>
      </div>
    </div>
  </div>
</div>