<div class="card">
  <div class="card-header">
    <div class="d-inline">
      <a href="#" class="btn btn-link">全部产品</a>
      <a href="#" class="btn btn-link">未关闭</a>
      <a href="#" class="btn btn-link">已关闭</a>
    </div>
    <div class="actions pull-right">
      <button class="btn btn-outline-primary" [routerLink]="['/product/add']"><i class="fa fa-plus"></i> 添加产品</button>
    </div>
  </div>
  <div class="card-block">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>产品名称</th>
          <th>产品负责人</th>
          <th>激活需求</th>
          <th>已变更需求</th>
          <th>草稿需求</th>
          <th>计划数</th>
          <th>发布数</th>
          <th>相关Bug</th>
          <th>未解决Bug</th>
          <th>未指派Bug</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
