<div class="page-header clearfix mb-3">
  <div class="d-inline-block">
    选择的模块>> 所有 打开 指派给我 由我创建 由我解决 未确认 未指派 未解决 etc.
  </div>
  
  <div class="action pull-right">
    <button class="btn btn-outline-primary"><i class="fa fa-bar-chart"></i> 报表</button>
    <div class="btn-group">
      <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-download"></i> 导出</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Excel</a>
          <a class="dropdown-item" href="#">PDF</a>
        </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary" type="button" [routerLink]="['add']">
        <i class="fa fa-plus"> 提问题</i> 
      </button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">更多</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item">批量添加</button>
        <button class="dropdown-item">批量导入</button>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="with-side" [ngClass]="{'side-hide': !sideOpen}">
    <div class="side">
      <div class="side-handle" (click)='sideOpen = !sideOpen'><i class="fa" [ngClass]="{'fa-caret-left': sideOpen, 'fa-caret-right': !sideOpen}"></i></div>
      <div class="side-body">
        <div class="card">
          <div class="card-header"><i class="fa fa-cube"></i> ProjectName</div>
          <div class="card-body">
            <!--<pms-product-module-tree></pms-product-module-tree>-->

          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <pms-issue-data-table></pms-issue-data-table>
    </div>
  </div>
</div>