<div class="clearfix mb-2">
  <div class="search d-inline-block">
    <form class="form-inline">
      <div class="form-group">
        <select class="form-control">
          <option value="">全部</option>
          <option value="" selected>未过期</option>
          <option value="">已过期</option>
        </select>
      </div>
      <div class="form-group mx-2">
        <input type="text" class="form-control" name="" value="">
      </div>
      <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button>
    </form>
  </div>
  <div class="actions pull-right">
    <button class="btn btn-primary"><i class="fa fa-plus"></i> 创建计划</button>
  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
<cui-data-table  [columns]="columns" [data]="plans" [pagination]="pagination" selectType="checkbox">
  <ng-template pmsColTpl="colName" let-row="row">
    <a [routerLink]="[row.id, 'view']"> {{row.name}}</a>
  </ng-template>

  <ng-template #rowActions let-row="row">
    <a href="javascript:;" class="text-info">需求</a>
    <span>|</span>
    <a href="javascript:;" class="text-info">BUG</a>
    <span>|</span>
    <a href="javascript:;" class="text-primary">编辑</a>
    <span>|</span>
    <a href="javascript:;" class="text-danger">删除</a>
  </ng-template>
</cui-data-table>