<div class="d-flex flex-row bg-faded py-2 px-3 clearfix sticky-top p-toolbar">
  <select name="activedProduct" [(ngModel)]="activeProductId">
    <option *ngFor="let prod of products" [value]="prod.id">
      {{prod.name}}
    </option>
  </select>
  
  <nav class="nav nav-pills ml-3">
    <a *ngFor="let nav of navs" class="nav-link" [routerLink]="nav.routerLink" routerLinkActive="active">{{nav.title}}</a>
  </nav>

  <div class="actions ml-auto">
    <button class="btn btn-outline-primary" [routerLink]="['/product/list']"><i class="fa fa-cubes"></i> 所有产品</button>
    <button class="btn btn-outline-primary" [routerLink]="['/product/add']"><i class="fa fa-plus"></i> 添加产品</button>
    <button class="btn btn-outline-primary" routerLinkActive="d-none" [routerLink]="['/product/home']"><i class="fa fa-home"></i> 产品主页</button>
  </div>
</div>