
<table class="table table-sm table-bordered">
  <tr>
    <th class="text-center">编号</th>
    <th>步骤</th>
    <th class="text-center">组</th>
    <th>预期</th>
    <th>实际</th>
    <th class="text-center">结果</th>
    <th class="text-right">操作</th>
  </tr>
  <tr *ngFor="let fm of _forms; let index = index;" [formGroup]="fm">
    <th class="text-center">{{index}}</th>
    <td><input type="text" nz-input formControlName="action" (ngModelChange)="_valueChange(fm, 'action', $event)" /></td>
    <td class="text-center"></td>
    <td><input type="text" nz-input formControlName="expect" (ngModelChange)="_valueChange(fm, 'action', $event)" /></td>
    <td></td>
    <td class="text-center"></td>
    <td class="text-right">
      <a (click)="appendRow(index)"><i class="fa fa-plus"></i></a> 
      <a (click)="removeRow(index)"><i class="fa fa-close"></i></a>
    </td>
  </tr>
</table>
