<div>
  <div class="d-flex">
    <div class="py-4 px-3">
        <h4 class="mb-4">我的活动</h4>
        
          <ng-container *ngFor="let i of [1, 2, 3]" [ngTemplateOutlet]="activityDay"></ng-container>
    </div>
    <div class="bg-light ml-auto p-4" style="width: 300px;">
        <h5 class="mb-4">活动</h5>
        <ul class="mb-3">
          <li *ngFor="let item of types">
            <label nz-checkbox>
                <span>{{item.label}}</span>
            </label>
          </li>
        </ul>
        <button type="button" class="btn btn-sm btn-secondary">应用</button>
    </div>
  </div>
</div>

<ng-template #activityDay>
  <div class="mb-3">
    <h5 class="mb-3">2019-09-23</h5>

    <ng-container *ngFor="let i of [1, 2, 3]" [ngTemplateOutlet]="activityItem"></ng-container>
  </div>
</ng-template>

<ng-template #activityItem>
  <div class="d-flex mb-3">
    <div class="text-right mr-3" style="flex: none; width: 60px;">
      <span class="text-sesondary">19:25</span>
    </div>
    <div>
      <div>
        <span>产品名称/ 项目名称</span>
        <a class="ml-3 text-primary"><strong>Develop-开发 #21201 (In Progress-进行中): 开发搭建API文档管理工具</strong></a>
      </div>
      <div class="text-secondary">
        1. 登录： 登录、找回密码 2. 个人中心： 档案、收藏、调查、消息、证书 3. 学习中心：课程、培训班、考试 4. 课程详情 5. 账户设置： 个人资料、消息设置、账户安全
      </div>
    </div>
  </div>
</ng-template>