<div class="card">
  <div class="card-header">
    <div class="d-inline">
      <a href="javascript:;" class="btn btn-link" (click)="getAll()">全部产品</a>
      <a href="javascript:;" class="btn btn-link" (click)="getActive()">未关闭</a>
      <a href="javascript:;" class="btn btn-link" (click)="getClosed()">已关闭</a>
    </div>
    <div class="actions pull-right">
      <button class="btn btn-outline-primary" [routerLink]="['/product/add']"><i class="fa fa-plus"></i> 添加产品</button>
    </div>
  </div>
  <div class="card-body">
    <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
    <cui-data-table [columns]="columns" [data]="datas" [pagination]="pagination" [loading]="loading" selectType="checkbox"
        (reload)="loadData($event)">
      <ng-template pmsColTpl="pName" let-row="row">
        <a [routerLink]="['/product', row.id, 'view']"> {{row.name}}</a>
      </ng-template>

      <ng-template #rowActions let-row="row">
        <a href="javascript:;" class="text-primary" [routerLink]="['../', row.id, 'edit']">编辑</a>
        <span>|</span>
        <a href="#" class="text-danger">删除</a>
      </ng-template>
    </cui-data-table>
  </div>
</div>
