
<div class="my-4 mx-3">
    <nz-card [nzBordered]="false" [nzNoHovering]="true">
        <ng-template #title>
          
        </ng-template>
        <ng-template #extra>
            <button class="btn btn-outline-primary" [routerLink]="['/product/add']"><i class="fa fa-plus"></i> 添加产品</button>
        </ng-template>
        <ng-template #body>
          
          <cui-data-table [columns]="columns" [data]="data?.content" [pagination]="data" [loading]="loading">
          
          </cui-data-table>
    
        </ng-template>
    </nz-card>
</div>



