<div class="card">
  <div class="card-header">
    <span class="font-weight-bold">模块维护</span>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="card">
          <div class="card-header">
            <div class="pull-right">
              <button class="btn btn-sm btn-primary" (click)="createRoot()">添加根</button>
              <button class="btn btn-sm btn-primary" (click)="createChild()">添加子</button>
              <button class="btn btn-sm btn-info" (click)="edit()">编辑</button>
              <button class="btn btn-sm btn-danger" (click)="delete()">删除</button>
            </div>
            <span>{{product.name}}::模块维护</span>
          </div>
          <div class="card-block">
            <!-- <pms-product-module-tree></pms-product-module-tree> -->
            <cui-tree [value]="modules" [config]="treeConfig" (selectionChange)="onSelectChange($event)" selectionMode="single"></cui-tree>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #moduleForm>
  <h5 cui-layer-title>添加模块</h5>
  <div cui-layer-content style="width: 300px;">
    <div class="alert alert-danger" *ngIf="formErr">{{formErr}}</div>
    <form>
      <div class="form-group">
        <label for="name" class="control-label">模块名称</label>
        <div>
          <input type="text" name="name" class="form-control" [(ngModel)]="editingModule.name">
        </div>
      </div>
    </form>
  </div>
  <div cui-layer-actions class="text-right">
    <button type="button" class="btn btn-primary" (click)="doSave($event)">确定</button>
    <button type="button" class="btn btn-secondary" (click)="layerRef.close()">取消</button>
  </div>
</ng-template>