<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
<cui-data-table  [columns]="columns" [data]="requirements" [pagination]="pagination" selectType="checkbox">
  <ng-template pmsColTpl="nameCol" let-row="row">
    <a [routerLink]="[row.id, 'view']"> {{row.name}}</a>
  </ng-template>

  <ng-template #rowActions let-row="row">
    <a href="javascript:;" class="text-primary">变更</a>
    <span>|</span>
    <a href="javascript:;" class="text-primary">评审</a>
    <span>|</span>
    <a href="javascript:;" class="text-primary">关闭</a>
    <span>|</span>
    <a href="javascript:;" class="text-primary">编辑</a>
    <span>|</span>
    <a href="javascript:;" class="text-primary">创建用例</a>
  </ng-template>
</cui-data-table>