<div class="my-4 mx-3 p-3 bg-white">
  <cui-data-table [columns]="columns" [data]="data?.content" [pagination]="data" selectType="checkbox" [loading]="loading"
  [(selection)]="selection">
    
  <ng-template #listTools>
    <ng-container *ngTemplateOutlet="tableListTools"></ng-container>
  </ng-template>

  <ng-template cuiColTpl="name" let-row="row">
    <a class="text-primary" [routerLink]="[row.id, 'view']">{{row.name}}</a>
  </ng-template>
  <ng-template cuiColTpl="status" let-row="row">
    {{row.status}}
  </ng-template>
  <ng-template cuiColTpl="createdDate" let-row="row">
    {{row.createdDate | date: 'yyyy-MM-dd'}}
  </ng-template>
  <ng-template cuiColTpl="solution" let-row="row">
    {{row.solution}}
  </ng-template>
  <ng-template cuiColTpl="resolvedDate" let-row="row">
    {{row.resolvedDate | date: 'yyyy-MM-dd'}}
  </ng-template>
  <ng-template cuiColTpl="actions" let-row="row">
    <a class="text-primary ml-2" title="确认" (click)="operate(row, 'verify')"><i class="fa fa-lg fa-search"></i></a>
    <a class="text-primary ml-2" title="指派" (click)="operate(row, 'assign')"><i class="fa fa-lg fa-hand-o-right"></i></a>
    <a class="text-primary ml-2" title="解决" (click)="operate(row, 'resolve')"><i class="fa fa-lg fa-check-square-o"></i></a>
    <a class="text-primary ml-2" title="关闭" (click)="operate(row, 'close')"><i class="fa fa-lg fa-power-off"></i></a>
    <a class="text-primary ml-2" title="编辑" [routerLink]="[row.id, 'edit']"><i class="fa fa-lg fa-edit"></i></a>
    <a class="text-primary ml-2" title="复制" [routerLink]="[row.id, 'copy']"><i class="fa fa-lg fa-copy"></i></a>
  </ng-template>
  </cui-data-table>
</div>

<ng-template #tableListTools>
  <div class="btn-group">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-download"></i> <span>导出</span>
        </button>
    <div class="dropdown-menu dropdown-menu-left">
      <a class="dropdown-item">Excel</a>
      <a class="dropdown-item">Word</a>
      <a class="dropdown-item">PDF</a>
    </div>
  </div>
  <a class="btn btn-outline-primary" [routerLink]="['report']">
    <i class="fa fa-area-chart"></i> <span>报表</span>
  </a>
  <div class="btn-group">
    <a class="btn btn-primary" [routerLink]="['add']">
      <i class="fa fa-plus"></i> <span>添加问题</span>
    </a>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item">批量导入</a>
      <a class="dropdown-item" [routerLink]="['batchAdd']">批量添加</a>
    </div>
  </div>
</ng-template>