<div class="login-wrapper d-flex flex-column justify-content-center align-items-center bg-faded">
  <div class="logo mb-4">
    <img src="./favicon.ico" alt="">
  </div>

  <h3 class="login-title text-center mb-4">登录 PMS</h3>

  <div class="login-box card">
    <div class="card-block">
      <form action="">
        <div class="form-group">
          <label for="_username" class="font-weight-bold">用户名</label>
          <input type="text" name="_username" value="" class="form-control">
        </div>
        <div class="form-group">
          <label for="_password" class="font-weight-bold">密码</label>
          <input type="password" name="_password" value="" class="form-control">
        </div>
        <button type="button" class="btn btn-success btn-block">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
      </form>
    </div>
  </div>
</div>