<!--The whole content below can be removed with the new code.-->
<div class="cui-layout">
  <div class="cui-layout-header">
    <div class="topbar">
      <h1 class="title">
        {{title}}
      </h1>
      <div class="pull-right align-items-center d-flex" style="height: 100%; margin-right: 1rem;">
        <button type="button" class="btn btn-outline-primary btn-sm">登录</button>
      </div>
    </div>
  </div>
  <div class="cui-layout-body">
    <div class="cui-layout-sidebar">
      <ul>
        <li *ngFor="let ni of navItems">
          <a [routerLink]="[ni.route]">{{ni.name}}</a>
          <ul *ngIf="ni.children">
            <li *ngFor="let nic of ni.children">
              <a [routerLink]="[nic.route]">{{nic.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="cui-layout-workbench">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="cui-layout-footer">
    PMS 
  </div>
</div>
