<div class="my-4 mx-3 py-4 px-3 bg-white">
  <div class="container">
    <nz-card [nzNoHovering]="true">
      <ng-template #title>
        <span class="badge badge-dark">{{requirement.id}}</span>
        <a [routerLink]="['../', 'view']">{{requirement.name}}</a>
        <span class="mx-2"><i class="fa fa-angle-right"></i></span>
        <span>变更</span>
      </ng-template>
      <ng-template #extra></ng-template>
      <ng-template #body>
        <form nz-form [formGroup]="requirementForm" [nzLayout]="'horizontal'">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="4">
              <label for="assignTo.id">由谁评审</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <pms-user-select formControlName="assignTo.id"></pms-user-select>

              <label nz-checkbox formControlName="needReview">
                <span>不需要评审</span>
              </label>
            </div>
          </div>

          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="4">
              <label for="name" nz-form-item-required>需求名称</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16" [nzHasFeedback]="'true'" [nzValidateStatus]="getFormControl('name')">
              <nz-input formControlName="name" [nzPlaceHolder]="'请输入需求名称'"></nz-input>
            </div>
          </div>

          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="4">
              <label for="description" nz-form-item-required>需求描述</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input formControlName="description" [nzType]="'textarea'" [nzRows]="'6'" [nzPlaceHolder]="'请输入需求描述'"></nz-input>
            </div>
          </div>

          <div nz-form-item nz-row class="mt-3">
            <div nz-form-label nz-col [nzSpan]="4">
              <label for="acceptance">验收标准</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input formControlName="acceptance" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'请输入验收标准'"></nz-input>
            </div>
          </div>

          <div nz-form-item nz-row class="mt-3">
            <div nz-form-label nz-col [nzSpan]="4">
              <label for="remark">备注</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input formControlName="remark" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'备注'"></nz-input>
            </div>
          </div>

          <div nz-form-item nz-row class="mt-3">
            <div nz-form-label nz-col [nzSpan]="4">
              <label for="attachement">附件</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-input [nzType]="'file'" [nzPlaceHolder]="'请选择一个文件'"></nz-input>
            </div>
          </div>

          <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="4">
              <label>检查影响</label>
            </div>
            <div nz-form-control nz-col [nzSpan]="16">
              <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
                <nz-tab>
                  <ng-template #nzTabHeading>
                    <span>影响的项目</span>
                  </ng-template>
                  <span>暂无</span>
                </nz-tab>
                <nz-tab>
                  <ng-template #nzTabHeading>
                    <span>影响的问题</span>
                  </ng-template>
                  <span>暂无</span>
                </nz-tab>
                <nz-tab>
                  <ng-template #nzTabHeading>
                    <span>影响的用例</span>
                  </ng-template>
                  <span>暂无</span>
                </nz-tab>
              </nz-tabset>
            </div>
          </div>

          <div nz-row class="mt-3">
            <div nz-col [nzSpan]="24" class="text-center">
              <button type="button" class="btn btn-primary" (click)="onSave($event)">保存</button>
              <button type="button" class="btn btn-light">取消</button>
            </div>
          </div>
        </form>

        <div class="mt-4">
            <pms-requirement-change-log [requirementId]="requirement.id"></pms-requirement-change-log>
          </div>
      </ng-template>
    </nz-card>



  </div>
</div>
