<div class="d-flex flex-column">
  <div class="test-topbar d-flex bg-faded py-2 px-3 clearfix sticky-top">
    <pms-product-jump-box [activeProduct]="activeProduct" (jumpTo)="changeProduct($event)"></pms-product-jump-box>
    
    <nav class="nav nav-pills ml-3">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/test', activeProduct.id, 'requirements']">需求</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/test', activeProduct.id, 'activities']">活动</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/test', activeProduct.id, 'plans']">计划</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/test', activeProduct.id, 'task']">任务</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/test', activeProduct.id, 'docLibs']">文档</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/test', activeProduct.id, 'projects']">项目</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/test', activeProduct.id, 'modules']">模块</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/test', activeProduct.id, 'view']">概览</a>
    </nav>
    <div class="actions ml-auto">
      <button class="btn btn-outline-primary" routerLinkActive="d-none" [routerLink]="['/test/home']"><i class="fa fa-home"></i> 测试主页</button>
    </div>
  </div>
  <div>
    <div class="container-fluid mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>