<div class="my-4 mx-3 py-4 px-3 bg-white">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <span class="badge badge-dark">{{testCase.id}}</span>
          <a [routerLink]="['../', 'view']">{{testCase.name}}</a>
          <span class="mx-2"><i class="fa fa-angle-right"></i></span>
          <span>编辑</span>
        </div>
      </div>
      <div class="card-body">
        <pms-test-case-form [productId]="productId" [testCase]="testCase" (save)="onSave($event)" (cancel)="onCancel($event)"></pms-test-case-form>
      </div>
    </div>
  </div>
</div>
