<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="d-inline-block font-weight-bold">提需求</div>
    </div>
    <div class="card-block">
      <form *ngIf="properties">
        <div class="row">
          <div class="form-group col-md-6 d-flex align-items-start">
            <label for="" class="col-form-label">所属产品</label>
            <pms-product-select></pms-product-select>
          </div>
          <div class="form-group col-md-6 d-flex align-items-start">
            <label for="" class="col-form-label">所属模块</label>
            <div style=" width: 200px">
              <pms-module-select [product]="product"></pms-module-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6 d-flex align-items-start">
            <label for="" class="col-form-label">所属计划</label>
            <pms-plan-select></pms-plan-select>
          </div>
          <div class="form-group col-md-6 d-flex align-items-start">
            <label for="" class="col-form-label">需求来源</label>
            <select [(ngModel)]="requirement.source" name='source' class="form-control">
              <option *ngFor="let source of properties.requirementSource" [value]="source.key">{{source.value}}</option>
            </select>
          </div>
        </div>
        
        <!-- TODO: 评审 -->

        <div class="form-group d-flex align-items-start">
          <label for="" class="col-form-label">需求名称</label>
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-addon">优先级</span>
            <select [(ngModel)]="requirement.priority" name="priority" class="form-control" style="width: 4rem; flex: 0 0 4rem;">
              <option *ngFor="let item of properties.priority" [value]="item.key">{{item.value}}</option>
            </select>
            <span class="input-group-addon">预计</span>
            <input type="text" class="form-control" style="width: 4rem; flex: 0 0 4rem;" placeholder="小时">
          </div>
        </div>

        <div class="form-group d-flex align-items-start">
          <label for="" class="col-form-label">需求描述</label>
          <div class="mx-3 w-100">
            <ueditor [(ngModel)]="requirement.description" [config]="ueditorConfit" name="description" #description></ueditor>
          </div>
        </div>

        <div class="form-group d-flex align-items-start">
          <label for="" class="col-form-label">验收标准</label>
          <div class="mx-3 w-100">
            <ueditor [(ngModel)]="requirement.acceptance" [config]="ueditorConfit" name="acceptance" #acceptance></ueditor>
          </div>
        </div>

        <div class="text-center">
          <button type="button" class="btn btn-primary">保存</button>
          <button type="button" class="btn btn-info">保存并添加</button>
          <button type="button" class="btn btn-secondary" (click)="backup()">返回</button>
        </div>
      </form>
    </div>
  </div>
</div>
