
<div class="container">
  <div class="card">
    <div class="card-header">
      <span class="font-weight-bold">创建任务</span>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group d-flex align-items-start">
          <label for="" class="col-form-label">所属模块</label>
          <input type="text" class="form-control input-xl">
        </div>
        <div class="form-group d-flex align-items-start">
          <label for="" class="col-form-label">任务类型</label>
          <input type="text" class="form-control input-xl">
        </div>
        <div class="form-group d-flex align-items-start">
          <label for="" class="col-form-label">指派给</label>
          <input type="text" class="form-control input-xl">
        </div>
        <div class="form-group d-flex align-items-start">
          <label for="" class="col-form-label">相关需求</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group d-flex align-items-start">
          <label for="" class="col-form-label">任务名称</label>
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-addon">优先级</span>
            <select class="form-control" style="width: 4rem; flex: 0 0 4rem;">
              <option value="0">0</option>
            </select>
            <span class="input-group-addon">预计</span>
            <input type="text" class="form-control" style="width: 4rem; flex: 0 0 4rem;" placeholder="小时">
          </div>
        </div>

        <div class="form-group d-flex align-items-start">
          <label for="" class="col-form-label">任务描述</label>
          <textarea rows="5" class="form-control"></textarea>
        </div>

        <div class="text-center">
          <button type="button" class="btn btn-primary">保存</button>
          <button type="button" class="btn btn-info">保存并继续</button>
          <button type="button" class="btn btn-secondary" [routerLink]="['../']">返回</button>
        </div>
      </form>
    </div>
  </div>
</div>