
<cui-data-table [data]="issues" [columns]="columns" [pagination]="pagination" selectType="checkbox">

  <ng-template #rowActions let-row="row">
    <a href="javascript:;" class="text-info">确认</a>
    <span>|</span>
    <a href="javascript:;" class="text-info">指派</a>
    <span>|</span>
    <a href="javascript:;" class="text-info">解决</a>
    <span>|</span>
    <a href="javascript:;" class="text-info">关闭</a>
    <span>|</span>
    <a href="javascript:;" class="text-primary">编辑</a>
  </ng-template>
</cui-data-table>