<form nz-form [formGroup]="_form" [nzLayout]="'horizontal'">

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>名称</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="20">
      <input nz-input formControlName="name" required maxlength="30">
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>描述</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="20">
      <textarea nz-input formControlName="description" rows="6"></textarea>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="4">
      <label>访问权限</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="20">
      <nz-radio-group formControlName="accessControl" [nzSize]="'large'" class="mb-2">
        <label *ngFor="let item of _accessControls" nz-radio [nzValue]="item.value" [nzDisabled]="item.disabled" class="d-block mb-0">
          <span>{{item.label}}</span>
        </label>
      </nz-radio-group>
    </div>
  </div>

  <div nz-form-item nz-row>
    <div nz-form-control nz-col [nzSpan]="18" [nzOffset]="4">
      <button type="button" class="btn btn-primary" (click)="_save($event)">保存</button>
      <button type="button" class="btn btn-light" (click)="_cancel($event)">取消</button>
    </div>
  </div>
</form>
