<div class="row">
  <div class="col-6">
    <div class="my-4 mx-3">
      <pms-product-list-pannel title="打开的产品"></pms-product-list-pannel>
    </div>
  </div>
  <div class="col-6">
    <div class="my-4 mx-3">
      <pms-requirement-list-pannel title="指派给我的需求"></pms-requirement-list-pannel>
    </div>
  </div>
  <div class="col-6">
    <div class="my-4 mx-3">
      <pms-project-list-pannel title="进行中的项目"></pms-project-list-pannel>
    </div>
  </div>
  <div class="col-6">
    <div class="my-4 mx-3">
      <pms-task-list-pannel title="指派给我的任务"></pms-task-list-pannel>
    </div>
  </div>
  <div class="col-6">
    <div class="my-4 mx-3">
      <pms-issue-list-pannel title="指派给我的问题"></pms-issue-list-pannel>
    </div>
  </div>
  <div class="col-6">
    <div class="my-4 mx-3">
      <pms-test-task-list-pannel title="指派给我的测试"></pms-test-task-list-pannel>
    </div>
  </div>
</div>