<div class="card">
  <div class="card-header">
    <div class="d-inline">
      <a href="" class="btn btn-link px-1 mx-0">未关闭</a>
      <a href="" class="btn btn-link px-1 mx-0">全部需求</a>
      <a href="" class="btn btn-link px-1 mx-0">指派给我</a>
      <a href="" class="btn btn-link px-1 mx-0">由我创建</a>
    </div>
    <div class="actions pull-right">
      <button class="btn btn-outline-primary"><i class="fa fa-download"></i> 导出</button>
      <button class="btn btn-outline-primary"><i class="fa fa-bar-chart"></i> 报表</button>
      <div class="btn-group">
        <button class="btn btn-primary" type="button" [routerLink]="['/product', 1, 'requirements', 'add']">
          <i class="fa fa-plus"></i> 提需求
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">更多选项</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item">批量添加</button>
          <button class="dropdown-item">批量导入</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="with-side" [ngClass]="{'side-hide': !sideOpen}">
      <div class="side">
        <div class="side-handle" (click)='sideOpen = !sideOpen'><i class="fa" [ngClass]="{'fa-caret-left': sideOpen, 'fa-caret-right': !sideOpen}"></i></div>
        <div class="side-body">
          <div class="card">
            <div class="card-header"><i class="fa fa-cube"></i> ProductName</div>
            <div class="card-block">
              <pms-product-module-tree></pms-product-module-tree>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <pms-requirement-list></pms-requirement-list>
      </div>
    </div>
  </div>
</div>
