<div class="page-header">

</div>

<div class="page-body">
  <div class="card">
    <div class="card-header">
      <span>文档库列表</span>
    </div>
    <div class="card-body">
      <div class="d-flex align-content-start flex-wrap">
        <div class="grid-item">
          <i class="fa fa-hdd-o fa-2x text-primary"></i>
          <span>产品主库</span>
        </div>
        <!-- <div class="grid-item">
          <i class="fa fa-hdd-o fa-2x text-primary"></i>
          <span>项目库</span>
        </div> -->
        <div class="grid-item">
          <i class="fa fa-hdd-o fa-2x text-primary"></i>
          <span>附件库</span>
        </div>

        <div class="grid-item" style="border: #eee 1px dashed;">
          <i class="fa fa-plus fa-2x" style="color: #ccc; margin-top: 1.5rem;"></i>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>