<div class="py-4 px-3">
  <h5 class="mb-4"><i class="fa fa-hdd-o"></i> {{docLib.name}}</h5>

  <cui-data-table [columns]="columns" [data]="data?.content" [pagination]="data" 
    selectType="checkbox" [(selection)]="selection" [loading]="loading">
  
    <ng-template #listTools>
      <button type="button" class="btn btn-primary" [routerLink]="['add']"><i class="fa fa-plus"></i> 添加文档</button>
    </ng-template>

    <ng-template cuiColTpl="name" let-row="row">
      <a class="text-primary" [routerLink]="[row.id, 'view']">{{row.name}}</a>
    </ng-template>
    <ng-template cuiColTpl="createdDate" let-row="row">
      {{row.createdDate | date: 'yyyy-MM-dd'}}
    </ng-template>
    <ng-template cuiColTpl="actions" let-row="row">
      <a class="text-primary ml-2" title="编辑" [routerLink]="[row.id, 'edit']"><i class="fa fa-lg fa-edit"></i></a>
    </ng-template>
  </cui-data-table>
</div>