<div class="bg-white">
  <div class="card">
    <div class="card-header d-flex">
      <div>
        <span class="badge badge-dark">{{document.id}}</span>
        <span>{{document.name}}</span>
      </div>
      <div class="ml-auto">
        <ng-container [ngTemplateOutlet]="actions"></ng-container>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col order-2" style="width: 360px; flex: none;">
          <ng-container [ngTemplateOutlet]="baseInfo"></ng-container>
          <ng-container [ngTemplateOutlet]="lifeInfo"></ng-container>
        </div>
        <div class="col order-1" style="flex: 1;">
          <ng-container [ngTemplateOutlet]="detail"></ng-container>

          <div class="text-center mt-4">
            <ng-container [ngTemplateOutlet]="actions"></ng-container>
          </div>
          <div>
            <ng-container [ngTemplateOutlet]="addRemark"></ng-container>
          </div>
          <div class="mt-4">
            <pms-change-log targetType="document" [targetId]="document.id"></pms-change-log>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #baseInfo>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="mb-3">基本信息</h5>

      <dl class="row">
        <dt class="col-3">标题</dt>
        <dd class="col-9">{{document.name}}</dd>

        <dt class="col-3">内容格式</dt>
        <dd class="col-9">{{document.format}}</dd>

        <dt class="col-3">关键词</dt>
        <dd class="col-9">{{document.keyword}}</dd>
      </dl>
    </div>
  </div>
</ng-template>

<ng-template #lifeInfo>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="mb-3"></h5>

      <dl class="row">
        <dt class="col-3">创建</dt>
        <dd class="col-9">
          {{document.createdByDisplayName}}
          于
          {{document.createdDate | date: 'yyyy-MM-dd HH:mm'}}
        </dd>

        <dt class="col-3">最后修改</dt>
        <dd class="col-9">
          {{document.lastModifiedByDisplayName}}
          于
          {{document.lastModifiedDate | date: 'yyyy-MM-dd HH:mm'}}
        </dd>
      </dl>
    </div>
  </div>
</ng-template>

<ng-template #detail>
    <div class="card mb-4">
        <div class="card-body">
          <h3 class="mb-4">{{document.name}}</h3>
          <h5 class="mb-3">摘要</h5>
          <div>
            <!-- {{document.content}} -->
          </div>

          <h5 class="mb-3">内容</h5>
          <div class="form-control content-section document" [innerHtml]="document.content">
          </div>
    
          <h5 class="mb-3 mt-4">附件</h5>
    
        </div>
      </div>
</ng-template>

<ng-template #addRemark>
  <div *ngIf="_showRemark" class="mt-4">
    <div nz-form-item class="mt-3">
      <div nz-form-label>
        <label for="remark">备注</label>
      </div>
      <div nz-form-control>
        <nz-input id="remark" name="remark" [(ngModel)]="remark" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'备注'"></nz-input>
      </div>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-primary" (click)="saveRemark()">保存</button>
      <button type="button" class="btn btn-light" (click)="hideRemark()">取消</button>
    </div>
  </div>
</ng-template>

<ng-template #actions>

    <button class="btn btn-link" [routerLink]="['../', 'edit']"><i class="fa fa-edit"></i> 编辑</button>
    <button class="btn btn-link" (click)="toggleRemark()"><i class="fa fa-comment-o"></i> 备注</button>
    <button class="btn btn-link" [routerLink]="['../', 'copy']" disabled><i class="fa fa-copy"></i> 复制</button>
    <button class="btn btn-link" (click)="delete()"><i class="fa fa-trash"></i> 删除</button>
    <button class="btn btn-link" [routerLink]="['../../']">返回 <i class="fa fa-level-up"></i></button>
    <button class="btn btn-link" [disabled]="!near?.prev" (click)="prev()"><i class="fa fa-chevron-left"></i> <span class="sr-only1">上一条</span></button>
    <button class="btn btn-link" [disabled]="!near?.next" (click)="next()"><span class="sr-only1">下一条</span> <i class="fa fa-chevron-right"></i></button>
</ng-template>
