<div class="page-header clearfix mb-3">
  <div class="acttions pull-right">
    <button class="btn btn-outline-primary"><i class="fa fa-download"></i> 导出</button>
    <button class="btn btn-outline-primary"><i class="fa fa-plus"></i> 提需求</button>
    <button class="btn btn-primary"><i class="fa fa-link"></i> 关联需求</button>
  </div>
</div>

<div class="page-body">
  <div class="with-side" [ngClass]="{'side-hide': !!sideOpen}">
    <div class="side">
      <div class="side-handle" (click)='sideOpen = !sideOpen'><i class="fa" [ngClass]="{'fa-caret-left': !sideOpen, 'fa-caret-right': sideOpen}"></i></div>
      <div class="side-body">
        <div class="card">
          <div class="card-header"><i class="fa fa-cube"></i> ProjectName</div>
          <div class="card-body">
            <!--<pms-product-module-tree></pms-product-module-tree>-->

          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <pms-requirement-list></pms-requirement-list>
    </div>
  </div>
</div>