<div class="page-header mb-3 clearfix">
  <h4 class="font-weight-bold d-inline-block mt-2">
    <span>编辑任务</span>
    <span>#{{task.id}}</span>
  </h4>

  <div class="actions pull-right">

    <!--<button class="btn btn-outline-primary" [routerLink]="['../', 'edit']"><i class="fa fa-pencil"></i> 编辑</button>-->
    <button class="btn btn-primary">保存</button>
    <button class="btn btn-secondary" [routerLink]="['../../']">返回 <i class="fa fa-level-up"></i></button>
  </div>
</div>

<div class="page-body">
  <div class="row">
    <div class="col-8">

      <div class="card">
        <div class="card-block">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="请输入任务名称">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-control-label">任务描述</label>
            <textarea name="" id="" class="form-control" cols="30" rows="10"></textarea>
          </div>
          <div class="form-group">
            <label for="" class="col-control-label">备注</label>
            <textarea name="" id="" class="form-control" cols="30" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label for="" class="col-control-label">附件</label>
            <span>选择文件或从剪贴板粘贴</span>
          </div>
          
          <div class="text-center">
            <button class="btn btn-primary">保存</button>
            <button class="btn btn-secondary">取消</button>
          </div>
        </div>
      </div>

    </div>

    <div class="col-4">

      <div class="card">
        <div class="card-block">
          <h5 class="card-title">基本信息</h5>
          <dl class="row ">
            <dt class="col-sm-3">所属项目</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>

            <dt class="col-sm-3">所属模块</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>

            <dt class="col-sm-3">相关需求</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>

            <dt class="col-sm-3">指派给</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>

            <dt class="col-sm-3">任务类型</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>

            <dt class="col-sm-3">任务状态</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>

            <dt class="col-sm-3">优先级</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>

            <dt class="col-sm-3">跟踪</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>
          </dl>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-block">
          <h5 class="card-title">工时信息</h5>
          <dl class="row">
            <dt class="col-sm-3">预计开始</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>
            
            <dt class="col-sm-3">实际开始</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>

            <dt class="col-sm-3">截止日期</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>

            <dt class="col-sm-3">最初预计</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>

            <dt class="col-sm-3">总消耗</dt>
            <dd class="col-sm-9">8工时</dd>

            <dt class="col-sm-3">预计剩余</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>
          </dl>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-block">
          <h5 class="card-title">任务的一生</h5>
          <dl class="row">
            <dt class="col-sm-3">由谁创建</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>
            
            <dt class="col-sm-3">由谁完成</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>
            
            <dt class="col-sm-3">由谁取消</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>
            
            <dt class="col-sm-3">由谁关闭</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>
            
            <dt class="col-sm-3">关闭原因</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>
            
            <dt class="col-sm-3">最后编辑</dt>
            <dd class="col-sm-9"><input type="text" class="form-control"></dd>
          </dl>
        </div>
      </div>

    </div>
  </div>
</div>