<div class="my-4 mx-3 p-3 bg-white">
  <cui-data-table [columns]="columns" [data]="data?.content" [pagination]="data" selectType="checkbox" [loading]="loading"
    [(selection)]="selection">

    <ng-template #listTools>
      <ng-container *ngTemplateOutlet="tableListTools"></ng-container>
    </ng-template>

    <ng-template cuiColTpl="actions" let-row="row">
      <a class="text-primary ml-2" title="执行"><i class="fa fa-lg fa-play"></i></a>
      <a class="text-primary ml-2" title="结果"><i class="fa fa-lg fa-list-alt"></i></a>
      <a class="text-primary ml-2" title="问题"><i class="fa fa-lg fa-bug"></i></a>
      <a class="text-primary ml-2" title="复制"><i class="fa fa-lg fa-copy"></i></a>
      <a class="text-primary ml-2" title="编辑" [routerLink]="[row.id, 'edit']"><i class="fa fa-lg fa-edit"></i></a>
      <nz-popconfirm [nzTitle]="'确定要删除吗？'" (nzOnConfirm)="delete(row.id)">
        <a  nz-popconfirm class="text-primary ml-2" title="删除"><i class="fa fa-lg fa-trash"></i></a>
      </nz-popconfirm>
    </ng-template>

    <ng-template #actionGroup>
      <nz-popconfirm [nzTitle]="'确定要删除吗？'" (nzOnConfirm)="delete()">
          <button nz-popconfirm type="button" class="btn btn-outline-danger">批量删除</button>
      </nz-popconfirm>
      
    </ng-template>
  </cui-data-table>
</div>

<ng-template #tableListTools>
  <div class="btn-group">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-download"></i> <span>导出</span>
        </button>
    <div class="dropdown-menu dropdown-menu-left">
      <a class="dropdown-item">Excel</a>
      <a class="dropdown-item">Word</a>
      <a class="dropdown-item">PDF</a>
    </div>
  </div>
  <div class="btn-group">
    <a class="btn btn-primary" [routerLink]="['add']">
            <i class="fa fa-plus"></i> <span>添加用例</span>
        </a>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item">批量导入</a>
      <a class="dropdown-item" [routerLink]="['batchAdd']">批量添加</a>
    </div>
  </div>
</ng-template>
