<div class="my-4 mx-3 bg-white">
  <div class="card">
    <div class="card-header d-flex">
      <div>
        <span class="badge badge-dark">{{issue.id}}</span>
        <span>{{issue.name}}</span>
      </div>
      <div class="ml-auto">
        <ng-container [ngTemplateOutlet]="actions"></ng-container>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col order-2" style="width: 360px; flex: none;">
          <ng-container [ngTemplateOutlet]="baseInfo"></ng-container>
          <ng-container [ngTemplateOutlet]="workInfo"></ng-container>
          <ng-container [ngTemplateOutlet]="lifeInfo"></ng-container>
        </div>
        <div class="col order-1" style="flex: 1;">
          <ng-container [ngTemplateOutlet]="detail"></ng-container>

          <div class="text-center mt-4">
            <ng-container [ngTemplateOutlet]="actions"></ng-container>
          </div>
          <div>
            <ng-container [ngTemplateOutlet]="addRemark"></ng-container>
          </div>
          <div class="mt-4">
            <pms-change-log targetType="issue" [targetId]="issue.id"></pms-change-log>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #baseInfo>
<div class="card mb-4">
  <div class="card-body">
    <h5 class="mb-3">基本信息</h5>

    <dl class="row">
      <dt class="col-3">所属产品</dt>
      <dd class="col-9">{{issue.productName}}</dd>
      
      <dt class="col-3">所属模块</dt>
      <dd class="col-9">{{issue.moduleName}}</dd>
      
      <dt class="col-3">所属计划</dt>
      <dd class="col-9">{{issue.planName}}</dd>
      
      <dt class="col-3">问题类型</dt>
      <dd class="col-9">{{issue.type}}</dd>
      
      <dt class="col-3">严重程度</dt>
      <dd class="col-9">{{issue.severity}}</dd>
      
      <dt class="col-3">优先级</dt>
      <dd class="col-9">{{issue.priority}}</dd>
      
      <dt class="col-3">问题状态</dt>
      <dd class="col-9">{{issue.status}}</dd>
      
      <dt class="col-3">激活次数</dt>
      <dd class="col-9">{{issue.activedCount}}</dd>
      
      <dt class="col-3">激活日期</dt>
      <dd class="col-9">{{issue.activedDate}}</dd>
      
      <dt class="col-3">是否确认</dt>
      <dd class="col-9">{{issue.isVerify}}</dd>
      
      <dt class="col-3">当前指派</dt>
      <dd class="col-9">{{issue.assignedToDisplayName}}</dd>
      
      <dt class="col-3">截止日期</dt>
      <dd class="col-9">{{issue.deadline | date: 'yyyy-MM-dd'}}</dd>
      
      <dt class="col-3">操作系统</dt>
      <dd class="col-9">{{issue.system}}</dd>
      
      <dt class="col-3">浏览器</dt>
      <dd class="col-9">{{issue.browser}}</dd>
      
      <dt class="col-3">关键词</dt>
      <dd class="col-9">{{issue.keyword}}</dd>
      
      <dt class="col-3">跟踪者</dt>
      <dd class="col-9"></dd>
    </dl>
  </div>
</div>
</ng-template>

<ng-template #workInfo>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="mb-3">问题相关</h5>

      <dl class="row">
        <dt class="col-3">所属项目</dt>
        <dd class="col-9">{{issue.projectName}}</dd>
        
        <dt class="col-3">相关需求</dt>
        <dd class="col-9">{{issue.requirementName}}</dd>
        
        <dt class="col-3">相关任务</dt>
        <dd class="col-9">{{issue.taskName}}</dd>

        <dt class="col-3">相关问题</dt>
        <dd class="col-9"></dd>
      </dl>
    </div>
  </div>
</ng-template>

<ng-template #lifeInfo>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="mb-3">问题的一生</h5>

      <dl class="row">
        <dt class="col-3">创建者</dt>
        <dd class="col-9">
          {{issue.createdDisplayName}}
          于
          {{issue.createdDate | date: 'yyyy-MM-dd'}}
        </dd>
        
        <dt class="col-3">影响版本</dt>
        <dd class="col-9">{{issue.effectBuildName}}</dd>
        
        <dt class="col-3">解决者</dt>
        <dd class="col-9">{{issue.resolvedByDisplayName}}</dd>

        <dt class="col-3">解决版本</dt>
        <dd class="col-9"></dd>

        <dt class="col-3">解决方案</dt>
        <dd class="col-9">{{issue.solution}}</dd>

        <dt class="col-3">由谁关闭</dt>
        <dd class="col-9">{{issue.closedByDisplayName}}</dd>

        <dt class="col-3">最后修改</dt>
        <dd class="col-9">
          {{issue.lastModifiedByDisplayName}}
          于
          {{issue.lastModifiedDate | date: 'yyyy-MM-dd'}}
        </dd>
      </dl>
    </div>
  </div>
</ng-template>

<ng-template #detail>
  <div class="card mb-4">
    <div class="card-body">
      <h3>{{issue.name}}</h3>
      <h5 class="mb-3">问题描述</h5>
      <div>
        {{issue.description}}
      </div>

      <h5 class="mb-3 mt-4">附件</h5>

    </div>
  </div>
</ng-template>

<ng-template #addRemark>
    <div *ngIf="_showRemark" class="mt-4">
      <div nz-form-item class="mt-3">
        <div nz-form-label>
          <label for="remark">备注</label>
        </div>
        <div nz-form-control>
          <nz-input id="remark" name="remark" [(ngModel)]="remark" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'备注'"></nz-input>
        </div>
      </div>
      <div class="mt-3">
        <button type="button" class="btn btn-primary" (click)="saveRemark()">保存</button>
        <button type="button" class="btn btn-light" (click)="hideRemark()">取消</button>
      </div>
    </div>
  </ng-template>

<ng-template #actions>
  <button class="btn btn-link" (click)="operate($event, 'time')"><i class="fa fa-clock-o"></i> 工时</button>
  <button class="btn btn-link" (click)="operate($event, 'verify')"><i class="fa fa-search"></i> 确认</button>
  <button class="btn btn-link" (click)="operate($event, 'assign')"><i class="fa fa-hand-o-right"></i> 指派</button>
  <button class="btn btn-link" (click)="operate($event, 'resolve')"><i class="fa fa-check-square-o"></i> 解决</button>
  <button class="btn btn-link" (click)="operate($event, 'pause')" disabled><i class="fa fa-lightbulb-o"></i> 提需求</button>
  <button class="btn btn-link" (click)="operate($event, 'restart')" disabled><i class="fa fa-crosshairs"></i> 建用例</button>

  <button class="btn btn-link" [routerLink]="['../', 'edit']"><i class="fa fa-edit"></i> 编辑</button>
  <button class="btn btn-link" (click)="toggleRemark()"><i class="fa fa-comment-o"></i> 备注</button>
  <button class="btn btn-link" [routerLink]="['../', 'copy']" disabled><i class="fa fa-copy"></i> 复制</button>
  <button class="btn btn-link" (click)="delete()"><i class="fa fa-trash"></i> 删除</button>
  <button class="btn btn-link" [routerLink]="['../../']">返回 <i class="fa fa-level-up"></i></button>
  <button class="btn btn-link" [disabled]="!near?.prev" (click)="prev()"><i class="fa fa-chevron-left"></i> <span class="sr-only1">上一条</span></button>
  <button class="btn btn-link" [disabled]="!near?.next" (click)="next()"><span class="sr-only1">下一条</span> <i class="fa fa-chevron-right"></i></button>
</ng-template>