<nz-layout style="height: 100%;">
    <nz-header>
      <pms-layout-header></pms-layout-header>
    </nz-header>
    
    <nz-layout style="height: 100%;">
      <nz-sider [nzCollapsible]="true" [nzWidth]="200" [nzCollapsedWidth]="64" style="background: #ffffff;">
        <ul nz-menu [nzMode]="'vertical'" [nzTheme]="'light'">
          <li nz-menu-item>
            <span><i class="fa fa-dashboard fa-lg"></i> <span class="nav-text">我的工作台</span></span>
          </li>
          <li nz-menu-item>
            <span><i class="fa fa-cubes fa-lg"></i> <span class="nav-text">产品</span></span>
          </li>
          <li nz-menu-item>
            <span><i class="fa fa-code fa-lg"></i> <span class="nav-text">项目</span></span>
          </li>
          <li nz-menu-item>
            <span><i class="fa fa-bug fa-lg"></i> <span class="nav-text">测试</span></span>
          </li>
          <li nz-menu-item>
            <span><i class="fa fa-file-text-o fa-lg"></i> <span class="nav-text">文档</span></span>
          </li>
          <li nz-menu-item>
            <span><i class="fa fa-area-chart fa-lg"></i> <span class="nav-text">统计</span></span>
          </li>
          <li nz-menu-item>
            <span><i class="fa fa-sitemap fa-lg"></i> <span class="nav-text">组织</span></span>
          </li>
          <li nz-menu-item>
            <span><i class="fa fa-cogs fa-lg"></i> <span class="nav-text">管理</span></span>
          </li>
          <li nz-menu-item>
            <span><i class="fa fa-rss fa-lg"></i> <span class="nav-text">反馈</span></span>
          </li>
          
          <li nz-submenu style="display: none;">
            <span title><i class="anticon anticon-user"></i><span class="nav-text"></span></span>
          </li>
        </ul>
      </nz-sider>  
      
      <nz-layout>
          <nz-content>
            <router-outlet></router-outlet>
          </nz-content>
          <nz-footer>
          </nz-footer>
      </nz-layout>
    </nz-layout>
    
</nz-layout>
