<div class="page-header clearfix mb-3">
  <div class="filters d-inline-block">
    <a href="javascript:;">全部</a>
    <a href="javascript:;">未关闭</a>
    <a href="javascript:;">指派给我</a>
    <a href="javascript:;">我跟踪的</a>
    <a href="javascript:;">已延期</a>
    <a href="javascript:;">需求变动</a>
    <a href="javascript:;">更多 <i class="fa fa-caret-down"></i></a>
  </div>
  <div class="groups d-inline-block">
    <a href="javascript:;">分组查看 <i class="fa fa-caret-down"></i></a>
  </div>
  搜索

  <div class="actions pull-right">
    <button class="btn btn-outline-primary"><i class="fa fa-bar-chart"></i> 日历</button>
    <button class="btn btn-outline-primary"><i class="fa fa-bar-chart"></i> 看板</button>
    <button class="btn btn-outline-primary"><i class="fa fa-bar-chart"></i> 甘特图</button>
    <button class="btn btn-outline-primary"><i class="fa fa-bar-chart"></i> 燃尽图</button>
    <button class="btn btn-outline-primary"><i class="fa fa-bar-chart"></i> 树状图</button>
    <button class="btn btn-outline-primary"><i class="fa fa-bar-chart"></i> 摘要</button>
    <div class="btn-group">
      <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-download"></i> 导出</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Excel</a>
          <a class="dropdown-item" href="#">PDF</a>
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary" type="button" [routerLink]="['add']">
          <i class="fa fa-plus"> 建任务</i> 
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">更多选项</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item">批量添加</button>
          <button class="dropdown-item">批量导入</button>
          <button class="dropdown-item">从问题转入</button>
          <button class="dropdown-item">从计划转入</button>
        </div>
      </div>
  </div>
</div>

<div class="page-body">
  <div class="with-side" [ngClass]="{'side-hide': !sideOpen}">
    <div class="side">
      <div class="side-handle" (click)='sideOpen = !sideOpen'><i class="fa" [ngClass]="{'fa-caret-left': sideOpen, 'fa-caret-right': !sideOpen}"></i></div>
      <div class="side-body">
        <div class="card">
          <div class="card-header"><i class="fa fa-cube"></i> ProjectName</div>
          <div class="card-block">
            <!--<pms-product-module-tree></pms-product-module-tree>-->

          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <cui-data-table [data]="tasks" [columns]="columns" [pagination]="pagination" selectType="checkbox">
        <ng-template pmsColTpl="nameTpl" let-row="row">
          <a [routerLink]="[row.id, 'view']"> {{row.name}}</a>
        </ng-template>

        <ng-template #rowActions let-row="row">
          <a href="javascript:;" class="text-primary" (click)="edit(row.id)">指派</a>
          <span>|</span>
          <a href="javascript:;" class="text-primary" (click)="edit(row.id)">完成</a>
          <span>|</span>
          <a class="text-primary" [routerLink]="[row.id, 'edit']">编辑</a>
          <!--<span>|</span>
          <a href="#" class="text-danger">删除</a>-->
        </ng-template>
      </cui-data-table>
    </div>
  </div>
</div>